.clear-title-btn:hover{
    background-color:transparent;
    color:black;
    border:2px solid black;
}

.clear-header nav a:hover{
    border: 2px solid rgb(73, 73, 73);
}

.clear-header{
    background-color:var(--clear)
}

.clear-select{
    border:1px solid black;
}

.clear-project-box{
    background-color:#f3f4cd;
    color:black;
    border:5px solid var(--darker);
}

.clear-skills{
    background-color:var(--darker);
    color:var(--clear);
    border:10px solid var(--back);
}

.clear-input{
    background-color:#604723;
    color:#f3f4cd;
    border:3px solid var(--darker);
}

.clear-form{
    background-color:var(--darker);
    color:var(--clear);
    border:5px solid var(--back);
}