:root{
    --clear:#ECECA9;
    --back:#705523;
    --font:#c2b130;
}

.clear-header nav a:hover{
    border: 2px solid rgb(73, 73, 73);
}

.clear-title-btn:hover{
    background-color:transparent;
    color:black;
    border:2px solid black;
}

.clear-header{
    background-color:var(--clear)
}

.clear-select{
    border:1px solid black;
}

.clear-project-box{
    background-color:var(--back);
    color:var(--font);
    border:10px solid #372611;
}

.clear-input{
    background-color:#604723;
    color:var(--font);
    border:3px solid #372611;
}