.dark-title-btn:hover{
    background-color:transparent;
    color:var(--clear);
    border:2px solid var(--clear);
}

.dark-header nav a:hover{
    border: 2px solid var(--cfont);
}

.dark-font{
    color:var(--clear);
}

.dark-header{
    background-color:var(--back);
}

.dark-select{
    color:var(--clear);
    border:1px solid var(--cfont);
}

.dark-project-box, .dark-form{
    background-color:var(--darker);
    color:var(--clear);
    border:5px solid var(--darker);
}

.dark-input{
    background-color:var(--back);
    color:var(--clear);
    border:3px solid var(--darker);
}

.dark-header nav a{
    color:var(--clear);
}