@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed&family=Style+Script&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}

:root{
    --clear:#ECECA9;
    --back:#705523;
    --cfont:#c2b130;
    --darker:#372611;
}


/* I - ELEMENTOS HTML */

a{
    cursor:pointer;
    color:black;
    text-decoration:none;
    transition: all 0.5s;
}

header{
    padding:1em 2em 0 2em;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

footer{
    margin:6em 0 3em 0;
    display:flex;
    justify-content:center;
}

select{
    padding:0.2em 0.6em;
    width:8em;
    border-radius:1rem;
    background-color:transparent;
}

option{
    color:black;
}

ul{
    list-style:none;
}

/* II - HIJOS DE ELEMENTOS */

nav a{
    margin:0 1.5em;
    padding:0.3em 1em;
    border:2px solid transparent;
    border-radius:1rem;
}

/* III - PSEUDOCLASES */

.other-button:hover{
    background-color:black;
    border:5px solid black;
}

.clicked-button:hover{
    background-color:#1a1c1f;
    border:5px solid #1a1c1f;
}

.send-btn:hover, .dark-btn:hover{
    background-color:var(--back);
    color:var(--darker);
}

.gh-link:hover{
    text-decoration:underline;
}

/* IV - CLASES */

.uppercase{
    text-transform: uppercase;
}

.yes-responsive-p{
    display:none;
}

.logo{
    width:5em;
}

.header-nav{
    display:flex;
}

.burger{
    display:none;
    background-color:transparent;
    border:none;
    font-size:3.2rem;
    margin-right:0.2em;
}

.burger-menu{
    width:13em;
    padding:1em 0.6em;
    position:absolute;
    top:1.8em;
    right:2.1em;
    background-color:white;
    border-radius:0.5rem;
}

.burger-menu-options, .burger-nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0.3em 0;
}

.burger-close{
    margin-left:4.5em;
    background-color:transparent;
    border:none;
    font-size:2rem;
}

.dark-btn{
    margin-top:1em;
    padding:0.3em 1.6em;
    border-radius:0.5rem;
    background-color:var(--darker);
    color:var(--clear);
    border:4px solid var(--back);
    transition:all 0.5s;
}

.options{
    padding-top:1em;
    padding-right:2.5em;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.hero{
    padding-top:3em;
    width:75%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}

.hero-content{
    padding-top:1.5em;
    padding-right:1em;
}

.photo{
    width:35em;
    margin:0 1em;
    border-radius:1rem;
}

.Argentina{
    display:flex;
    align-items:center;
    padding-bottom:2em;
}

.flag{
    margin-left:1em;
    margin-bottom:0.5em;
    width:2.5em;
}

.separator, .dots{
    padding:2em 0;
    display:flex;
    justify-content:center;
}

.title{
    padding-bottom:2em;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.clear-title-btn, .dark-title-btn{
    background-color:black;
    color:white;
    transition:all 0.5s;
}

.intro, .experience, .contact{
    padding-top:3em;
    width:90%;
    margin:0 auto;
}

.intro-intro{
    padding-bottom:2em;
}

.project-box{
    width:95%;
    margin:0 auto;
    padding:3em 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:1rem;
}

.project-image{
    padding:2em 0;
}

.languages{
    width:100%;
    padding-bottom:3em;
    display:flex;
    justify-content:center;
}

.front, .back{
    width:100%;
    margin:0 3em;
}

.proj-desc{
    width:80%;
    font-size:1.3rem;
    font-weight:600;
}

.proj-link{
    padding:0.1em 0.3em;
    font-size:4.5rem;
    border:2px solid transparent;
    border-radius:100%;
}

.links{
    width:80%;
    padding-top:2em;
    padding-bottom:0.5em;
    display:flex;
    justify-content:center;
}

.original, .github, .deploy{
    width:100%;
}

.others{
    width:50%;
    height:22em;
    margin:3em auto 1em auto;
    border-radius:1rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.other{
    margin:2em;
    display:flex;
    align-items:center;
}

.other-buttons{
    display: flex;
    justify-content:center;
}

.other-button{
    margin:0 1em;
    padding:0.3em 0.6em;
    font-size:1.4rem;
    background-color:#1a1c1f;
    color:white;
    border:5px solid #1a1c1f;
    border-radius:0.5rem;
    transition: all 0.5s;
}

.clicked-button{
    margin:0 1em;
    padding:0.3em 0.6em;
    font-size:1.4rem;
    background-color:black;
    color:#f3a52f;
    border:5px solid black;
    border-radius:0.5rem;
    transition: all 0.5s;
}

.media{
    display:flex;
    justify-content:space-evenly;
    padding-bottom:2.5em;
}

.form{
    width:60%;
    margin:0 auto;
    padding:3em 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:1rem;
}

.form-section{
    display:flex;
    flex-direction:column;
}

.send-disclaimer{
    margin-top:2em; 
    font-weight:300;
}

.send-btn{
    margin-top:1em;
    padding:0.3em 1.6em;
    font-size:2rem;
    font-weight:bold;
    border-radius:0.5rem;
    background-color:var(--darker);
    color:var(--clear);
    border:4px solid var(--back);
    transition:all 0.5s;
}

.gh-link{
    margin-left:0.3em;
    font-weight:bold;
}

/* V - HIJOS DE CLASES */

.options select, .options .form-check{
    margin:0 1.5em;
}

.hero h1, .hero h2{
    font-weight:bold;
}

.hero h1{
    font-size:7rem;
}

.hero h2{
    font-size:3rem;
    padding-top:1em;
    padding-bottom:0.3em;
}

.hero h3{
    font-size:2.3rem;
}

.separator h1{
    opacity:60%;
    font-size:6rem;
    font-weight:bold;
    letter-spacing:0.8em;
}

.dots h1{
    opacity:75%;
    font-size:6.5rem;
    font-weight:bold;
}

.separator h1 span{
    letter-spacing:0;
}

.intro h1, .experience h1, .contact h1{
    font-weight:bold;
}

.intro p, .exp-desc{
    font-size:1.6rem;
    text-align:justify;
}

.title button{
    padding:0 0.3em;
    font-size:2rem;
    border:2px solid transparent;
    border-radius:100%;
}

.project-image img{
    width:42em;
    margin: 0 1em;
    border:2px solid black;
    border-radius:1rem;
}

.languages img{
    width:7em;
    margin:0 0.5em;
}

.front h4, .back h4{
    padding-bottom:0.5em;
}

.links h4{
    margin-top:0.5em;
    margin-bottom:1em;
}

.others h3{
    margin-left:1em;
    margin-bottom:0.5em;
}

.others img{
    width:9em;
    margin:1em 2em;
}

.form-section label{
    margin:0.8em 0 0.4em 0;
    font-size:1.2rem;
}

.form-section input, .form-section textarea{
    width:50em;
    padding:0.5em 0.6em;
    border-radius:0.5rem;
}

.form-section textarea{
    resize:none;
}

@media (max-width:1440px){
    .hero h1{
        font-size:5rem;
    }
    .project-image img{
        width:34em;
    }
    .languages img{
        width:5.5em;
    }
    .hero{
        width:88%;
    }
    .hero-content{
       padding-top:3em;
    }
    .photo{
        width:33em;
    }
    .clicked-button, .other-button{
        font-size:1.2rem;
    }
    .others{
        width:60%;
    }
    .form{
        width:70%;
    }
}

@media(max-width:1400px){
    .hero{
        width:90%;
    }
    .photo{
        width:30em;
    }
}

@media(max-width:1300px){
    .hero{
        width:92%;
    }
    .photo{
        width:26em;
    }
}

@media(max-width:1218px){
    .hero{
        width:95%;
    }
    .photo{
        width:24em;
    }
}

@media(max-width:1147px){
    .hero{
        width:97%;
    }
    .photo{
        width:23em;
    }
}

@media (max-width:1024px){
    .hero h2{
        padding-top:0;
        padding-bottom:0.2em;
        font-size:2.5rem;
    }
    .hero h3{
        font-size:2rem;
    }
    .separator h1{
        font-size:3.6rem;
    }
    .dots h1{
        font-size:3.3rem;
    }
    .project-image img{
        margin:0.5em 0;
    }
    .languages img{
        margin:0.5em;
    }
    .links h4{
        font-size:1.2rem;
        font-weight:bold;
    }
    .Argentina{
        padding-bottom:1em;
    }
    .form{
        width:100%;
    }

}

@media (max-width:939px){
    .form-section input, .form-section textarea{
        width:35em;
    }
    .separator{
        display:none;
    }
}

@media (max-width:768px){
    nav a{
        margin:0 0.5em;
    }
    .dots h1{
        font-size:2.5rem;
    }
    .links h4{
        font-size:1.5rem;
    }
    .hero{
        padding-top:1em; 
        width:100%;
        flex-direction:column-reverse;
        align-items:center;
        justify-content:center;
    }
    .photo{
        width:24.5em;
    }
    .no-responsive-p{
        display:none;
    }
    .yes-responsive-p{
        display:block;
        margin-top:0.3em;
    }
    .hero-content{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding-bottom:2em;
    }
    .other-buttons{
        flex-direction:column;
    }
    .others{
        width:100%;
    }
    .clicked-button, .other-button{
        margin:1em 0;
        font-size:1.6rem;
    }
    .send-disclaimer{
        font-size:0.8rem;
        font-weight:bold;
    }
    .send-btn{
        margin-top:0.5em;
    }
    .links .deploy h4{
        margin-bottom:2.2em;
    }
}

@media (max-width:650px){
    .form-section input, .form-section textarea{
        width:17.5em;
    }
}

@media (max-width:576px){
    header{
        padding-top:2em;
    }
    footer{
        font-size:0.7rem;
    }
    .hero h1{
        font-size:3rem;
    }
    .hero h2{
        padding:0;
        font-size:1.3rem;
    }
    .hero h3{
        font-size:1.1rem;
    }
    .intro-intro p, .exp-desc{
        font-size:1.3rem;
    }
    .dots h1{
        font-size:1.2rem;
    }
    .project-box h2{
        font-size:1.3rem;
        margin-bottom:0;
    }
    .project-image img{
        width:16em;
        border:1px solid black;
    }
    .languages img{
        width:3em;
    }
    .links div{
        margin-bottom:2em;
    }
    .links a{
        font-size:3.5rem;
    }
    .others img{
        width:5em;
    }
    .media a{
        font-size:3.5rem;
    }
    .project-image img:last-child{
        display:none;
    }
    .not-burger{
        display:none;
    }
    .burger, .burger-close{
        display:block;
    }
    .hero{
        padding-top:0;
        text-align:center;
    }
    .flag{
        margin-left:0.5em;
        margin-top:0;
        width:1.8em;
    }
    .photo{
        width:20em;
    }
    .title{
        padding-bottom:1em;
    }
    .project-box{
        width:100%;
    }
    .proj-desc{
        width:75%;
        font-size:1rem;
    }
    .links{
        flex-direction:column;
    }
    .links .deploy h4{
        margin-bottom:1em;
    }
    .others{
        height:100%;
    }
    .other{
        flex-direction:column;
    }
    .send-disclaimer{
        width:60%;
        text-align:center;
    }
}