@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed&family=Style+Script&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}


/* I - ELEMENTOS HTML */

nav{
    display:flex;
}

a{
    cursor:pointer;
    color:black;
    text-decoration:none;
    transition: all 0.5s;
}

header{
    padding:1em 2em 0 2em;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

select{
    padding:0.2em 0.6em;
    width:8em;
    border-radius:1rem;
    background-color:transparent;
}

/* II - HIJOS DE ELEMENTOS */

nav a{
    margin:0 1.5em;
    padding:0.3em 1em;
    border:2px solid transparent;
    border-radius:1rem;
}

/* III - PSEUDOCLASES */

/* .project-image img:last-child{
    filter:invert(100%);
} */

/* IV - CLASES */

.uppercase{
    text-transform: uppercase;
}

.logo{
    width:5em;
}

.options{
    padding-top:1em;
    padding-right:2.5em;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.hero{
    padding-top:3em;
    width:75%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}

.hero-content{
    padding-top:1.5em;
    padding-right:1em;
}

.photo{
    width:35em;
    border-radius:1rem;
}

.Argentina{
    display:flex;
    align-items:center;
    padding-bottom:2em;
}

.flag{
    margin-left:1em;
    margin-bottom:0.5em;
    width:2.5em;
}

.separator, .dots{
    padding:2em 0;
    display:flex;
    justify-content:center;
}


.title{
    padding-bottom:2em;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.clear-title-btn, .dark-title-btn{
    background-color:black;
    color:white;
    transition:all 0.5s;
}

.intro, .experience{
    padding-top:3em;
    width:90%;
    margin:0 auto;
}

.intro-intro{
    padding-bottom:2em;
}

.project-box{
    width:95%;
    margin:0 auto;
    padding:3em 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:1rem;
}

.project-image{
    padding:2em 0;
}

.languages{
    width:100%;
    padding-bottom:4em;
    display:flex;
    justify-content:center;
}

.front, .back{
    width:100%;
    margin:0 3em;
}

.proj-desc{
    width:80%;
}

.proj-link{
    padding:0.1em 0.3em;
    font-size:4.5rem;
    border:2px solid transparent;
    border-radius:100%;
}

.links{
    width:80%;
    padding-top:4em;
    padding-bottom:0.5em;
    display:flex;
    justify-content:center;
}

.original, .github{
    width:100%;
}

/* V - HIJOS DE CLASES */

.options select, .options .form-check{
    margin:0 1.5em;
}

.hero h1, .hero h2{
    font-weight:bold;
}

.hero h1{
    font-size:7rem;
}

.hero h2{
    font-size:3rem;
    padding-top:1em;
    padding-bottom:0.3em;
}

.hero h3{
    font-size:2.3rem;
}

.separator h1{
    opacity:60%;
    font-size:6rem;
    font-weight:bold;
    letter-spacing:0.8em;
}

.dots h1{
    opacity:75%;
    font-size:6.5rem;
    font-weight:bold;
}

.separator h1 span{
    letter-spacing:0;
}

.intro h1, .experience h1{
    font-weight:bold;
}

.intro p, .exp-desc{
    font-size:1.6rem;
}

.title button{
    padding:0 0.3em;
    font-size:2rem;
    border:2px solid transparent;
    border-radius:100%;
}

.project-image img{
    width:46em;
    margin: 0 1em;
    border-radius:1rem;
}

.languages img{
    width:7em;
    margin:0 0.5em;
}